html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  max-width: 320px;
  margin: 80px auto;
}

.HeaderArt {
  display: block;
}

.HeaderTitle {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 16px;
}

.HeaderDescription {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 16px;
}

.LinkList {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.LinkListItem {
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 16px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  align-items: baseline;
}

.LinkListItemLabel {
  flex: 1 1 auto;
  font-weight: bold;
}

.Button {
  border: 1px solid #bbb;
  padding: 4px 12px;
  min-width: 64px;
  text-align: center;
  font-size: 1.6rem;
}
